<h2>Switch case example</h2>
<button (click)="load(42, false)">Load</button>
<button (click)="load(42, true)">Load with error</button>
<ng-container
  *ngIf="loadable$ | async as loadable"
  [ngSwitch]="loadable | loadingState"
>
  <app-loading-spinner *ngSwitchCase="'loading'"></app-loading-spinner>
  <div *ngSwitchCase="'loaded'">
    <h3>Loaded</h3>
    <pre>{{ loadable.value | json }}</pre>
  </div>
  <ld-loadable-error
    *ngSwitchCase="'error'"
    [error]="loadable.error"
  ></ld-loadable-error>
</ng-container>
