<h3>Examples</h3>
<div class="links">
  <a routerLink="/examples/default" routerLinkActive="active-link">Default</a>
  <a
    routerLink="/examples/custom-default-loading"
    routerLinkActive="active-link"
  >
    Custom default loading
  </a>
  <a routerLink="/examples/ngrx" routerLinkActive="active-link">NgRx</a>
  <a
    routerLink="/examples/custom-loading-template"
    routerLinkActive="active-link"
  >
    Custom loading template
  </a>
  <a routerLink="/examples/lightweight" routerLinkActive="active-link">
    Lightweight
  </a>
</div>
