<div class="main">
  <h2>Default usage example</h2>
  <p>
    This examples displays the default usage of the `ld-loadable` component. The
    `LoadingCustomizerModule` is imported with the default loading and error
    components.
  </p>
  <app-load-form (loadable)="loadable = $event"></app-load-form>
  <ld-loadable [loadable]="loadable">
    <h3>Loaded</h3>
    <pre><code>{{ loadable | loadedValue | json }}</code></pre>
  </ld-loadable>
</div>
<aside>
  <div>
    <h3>State of the loadable</h3>
    <pre><code>{{ loadable | json }}</code></pre>
  </div>
</aside>
