.loadables {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

:host {
  display: grid;
  grid-template-areas: "main aside";
  grid-template-columns: auto 500px;
  gap: 30px;
}

aside {
  grid-area: "aside";
}
