body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p {
  line-height: 26px;
}

a {
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  color: rgb(96, 103, 112);
}

a:hover {
  color: blue;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

aside {
  padding: 10px;
}
