<div class="main">
  <h2>NgRx</h2>
  <p>
    This example displays how objects of the loadable type can be stored with
    NgRx.
  </p>
  <button (click)="load(42, false)">Load</button>
  <button (click)="load(42, true)">Load with error</button>
  <ld-loadable *ngIf="loadable$ | async as loadable" [loadable]="loadable">
    <h3>Loaded</h3>
    <pre>{{ loadable.value | json }}</pre>
  </ld-loadable>
</div>
<aside>
  <div>
    <h3>State of the loadable</h3>
    <pre>{{ loadable$ | async | json }}</pre>
  </div>
</aside>
