<h2>Custom loading template</h2>
<p>
  This example displays the usage of the `ld-loadable` component with a custom
  loading template.
</p>
<button (click)="load(42, false)">Load</button>
<button (click)="load(42, true)">Load with error</button>
<ld-loadable
  *ngIf="loadable$ | async as loadable"
  [loadable]="loadable"
  [templates]="{ loading: loading }"
>
  <h3>Loaded</h3>
  <pre>{{ loadable.value | json }}</pre>
</ld-loadable>
<ng-template #loading>
  <p>
    The 'Answer to the Ultimate Question of Life, the Universe, and Everything'
    is currently being computed. This operation might take a few minutes. Please
    don't turn off your computer during this operation.
  </p>
</ng-template>
